server:
  http_listen_port: __PROMTAIL_HTTP_PORT__

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:__LOKI_HTTP_PORT__/loki/api/v1/push

scrape_configs:
  - job_name: docker
    static_configs:
      - targets:
          - localhost
        labels:
          job: docker
          __path__: /var/lib/docker/containers/*/*-json.log
